
body {
    
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e4e9;
    
}


header {
    background-color: rgb(226, 8, 8);
    border-radius: 20px 0px;
     box-shadow: 5px 5px 15px black;
    
}


.header-pai {
  display: flex;
  align-items: center;
  justify-content: center;
 

  
}


h1 {
    padding: 50px;
    font-size: 40px;
    color: white;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-shadow: 1px 1px 2px;

    
}

#SobreNos {
     text-decoration: underline;
}
.menu-filhos  {
  margin-left: 10px;
  display: flex;
  padding: 10px;
  
  
}


.menu-filhos > a {
  color: white;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}


.imagem-header {
  display: flex; 
  justify-content: start;
  margin-top: 20px;
  margin: 20px;
}

.imagem-header > img {
  width: 150px;
  border-radius: 50px;

}


h2 { 
    color: black;
    font-size: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

p {
    text-align: justify;
    font-size: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    width: 900px;
    padding: 15px;
     margin: 50px;
     font-family: Arial, Helvetica, sans-serif;
    
    
    
    
    
}



#termos {

    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
     font-family: Arial, Helvetica, sans-serif;
    
}

#h2_termos{
    margin: 50px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}


