
body {
  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e4e9;
    margin: 0px;
    
}


header {
    background-color: rgb(180, 4, 4);
     box-shadow: 5px 5px 15px black;
    
}


.header-pai {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}


h1 {
    padding: 15px;
    font-size: 30px;
    color: white;
    font-style: italic;
    
   
}

#SobreNos {
     text-decoration: underline;
}
.menu-filhos  {
  display: flex;
  
  justify-content: center;
  
}


.menu-filhos > a {
  color: white;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  
}

.menu-filhos > a:hover{
  color: white;
  text-decoration:underline;
}


.imagem-header {
  display: flex; 
  justify-content: start;
  
 
}

.imagem-header > img {
  width: 200px;
  border-radius: 50px;

}


h2 { 
    color: black;
    font-size: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

p {
    text-align: justify;
    font-size: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    width: 900px;
    padding: 15px;
     margin: 50px;
     font-family: Arial, Helvetica, sans-serif;
    
    
    
    
    
}



#termos {

    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
     font-family: Arial, Helvetica, sans-serif;
    
}

#h2_termos{
    margin: 50px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}


