body {
    background-color: #031736;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

header {

     background-color: #0A1F44;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.678);
}


.header-pai {
  display: flex;
  align-items: center;

 

  
}




h1 {
    font-size: 30px;
    color: white;
    font-style: italic;
   
    
    
  
}


.menu-filhos  {
  display: flex;
  padding: 10px;
   margin-left: 200px;
  
}


.menu-filhos > a {
  color: white;
  padding: 20px;
  font-size: 18px;
  text-decoration: none;
}


.menu-filhos > a:hover{
  color: rgb(197, 197, 9);
  text-decoration:underline;
}


.logo-header {
  display: flex; 
  align-items: center;
   margin: 20px;
   margin-left: 40px;
   
  
}

.logo-header > img {
  width: 150px;
  border-radius: 50px;
}


   


.paisagem {
  display: flex;
  justify-content: center;
}

.paisagem > img{
  width: 100%;
 
 
}

.Destaques {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
 
  margin-left: 40px;
   

}

.card-destaque {
  width: 250px;
  padding: 10px;
  text-align: center;
  color: white;
   border-right: 1px solid rgba(255,255,255,0.15);
   
  
   
}




.card-destaque:last-child{
    border-right: none;
}

.card-destaque > h3 {
  font-size: 40px;

}
.circulo {

   width:50px;
    height:50px;

    border:1px solid rgba(255, 254, 254, 0.514);
    border-radius:50%;

     display:flex;
    justify-content:center;
    align-items:center;

    
    margin-left: 75px;
} 

.card-destaque h2{
    font-size: 17px;
    margin-right: 50px;
    
}

.card-destaque > p {
  font-size: 14px;
  margin-right: 50px;
 
}



i{
    color: rgb(211, 211, 5);
    font-size:28px;
}

.linha-final{
    display: flex;
    justify-content: center;
}

.filho-linha {
  width: 90%;
   
    margin-top: 30px;

    border: 1px solid  rgba(255,255,255,0.15);
}



.experiencias > h2 {
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 300;
 
}

#Muito{
  color: rgba(255, 255, 255, 0.856);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin-top: -10px;
}


.experiencias{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.linha{
  width: 40px;               
    height: 1px;
    background-color: #bfa054;
}



.gastronomicas {  
display: flex;
justify-content: space-evenly;


}


.card-gastro{
  
  position: relative;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
   
}

.foto-gastro {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(50%);

}

.conteudo-card{
    position: absolute;
    bottom: 220px;
    text-align: center;
    color: white;
}

.circuloo {

   width:50px;
    height:50px;

    border:1px solid yellow;
    border-radius:50%;

     display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.788);

    
    margin-left: 100px;
} 

.conteudo-card > h3 {
  color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    line-height: 0.5;
    
}

.conteudo-card > p {
  color: white;
  text-align: center;
    font-size: 14px;
     padding: 0px 10px ;
     font-weight: 200;
     
}














